body {
  font-family: Arial, sans-serif;
  margin: 30px;
  background-color: #f7f7f7;
  color: #333;
}

h1, h2 {
  color: #222;
}

a {
  text-decoration: none;
  color: #007BFF;
  margin-right: 10px;
}

table {
  background: white;
  border-collapse: collapse;
  width: 100%;
}

th {
  background: #4CAF50;
  color: white;
}

button {
  background-color: #F44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #c0392b;
}
